<head>
  <title><%= content_for?(:title) ? yield(:title) : "ヤキドキ" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="min-h-dvh bg-amber-50 text-slate-900">
  <main class="max-w-3xl mx-auto px-4 py-8"><%= yield %></main>
</body>
